/* * {
        border: 2px solid red;
      } */

/* * {
  border: 2px solid red;
  background: #d9d8cd;
} */

/* main default of the continer for grid, mobile first  */
.container {
  display: grid;
  min-height: 100vh;
  min-width: 100vw;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-areas:
    "hd"
    "sd"
    "main"
    "ft";
  border: 3px solid rgb(151, 151, 125);
  margin: -10px;
}

/* Main logo image with size */
.logo-images {
  margin: auto;
  padding: auto;
  width: 35%;
  height: 85%;
}

aside {
  grid-area: sd;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: whitesmoke;
}

aside ul {
  list-style-type: none;
  font-size: 1.3em;
  text-align: center;
  padding: 10%;
  margin: 10%;
}

aside li {
  margin: 15%;
  padding: 10%;
  list-style-type: none;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: space;
  align-items: center;
  background-color: bisque;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  size: 3rem;
  height: 100%;
  width: 100%;
}

footer {
  grid-area: ft;
}
