/* 
Style wildcard is use to layout the page with 
redlines to better visualize the project 
To use, uncomment it
*/
/* 
* {
  border: 2px solid red;
  background: #d9d8cd;
} */

/* main default of the continer for grid, mobile first  */
.container {
  display: grid;
  min-height: 100vh;
  min-width: 100vw;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-areas:
    "hd"
    "sd"
    "main"
    "ft";
  border: 3px solid rgb(151, 151, 125);
  margin: -10px;
}

/* Main logo image with size */

.logo-images {
  margin: auto;
  padding: auto;
  width: 35%;
  height: 85%;
}

aside {
  grid-area: sd;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: whitesmoke;
}
/* Removed all underlinks for nav */
aside a:link {
  text-decoration: none;
  /* font-family: 'Roboto', sans-serif; */
  font-family: "Alfa Slab One", cursive;
}

aside ul {
  list-style-type: none;
  font-size: 1.3em;
  text-align: center;
  padding: 10%;
  margin: 10%;
}

aside li {
  list-style-type: none;
}

main {
  grid-area: main;
  background-color: bisque;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  size: 3rem;
  height: 100%;
  width: 100%;
}

article h1{
 text-align: center;
}

article h2{
  text-align: center;
}
article img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
article p {
  font-size: 1.2em;
  margin: 0px 15px 0px 15px;
  line-height: 2;
  font-family: "Merriweather", serif;
}
footer {
  grid-area: ft;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  size: 3rem;
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
}
