/* Main css style for anything beyond the 768px size */
@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0vh 90vh;
    grid-template-areas:
      "sd main main main main"
      "sd main main main main"
      "ft main main main main";
    border: 3px solid rgb(151, 151, 125);
  }
  /* A nice font size for the article paragraph  */
  article p {
    font-size: 1.1em;
    margin: 0 10% 0 10%;
    line-height: 2;
  }
}
